body{background: linear-gradient(90deg, rgb(216, 237, 246), rgb(126, 217, 245) );
  

}
.App {
  height: 100%;
  text-align: center;
}

*{
  --blue:rgba(48, 51, 199, 0.85);
  --yellow: rgb(235, 214, 59);
  --gray: rgb(62, 59, 59);
}

.footer {
  display: flex;
  justify-content: center;
 align-items: center;
  background:linear-gradient(90deg, rgb(180, 223, 238), rgb(60, 138, 162) );
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 50px;
}
.main-div{
  display: block;
}

.top-div{
  width: 70%;
  margin: auto;
  text-align: left;
  border-radius: 10px;
  border: 1px solid black;
}

.bottom-div{
  width: 70%;
  margin: auto;
}
.params{
  display: flex;
}
.side-by-side{width: 50%;
border: 1px solid rgb(60, 138, 162);
border-top:none;}

.city-title{
  height: 50px;
  background-color: rgb(60, 138, 162);
  opacity: 0.5;
  color: white;
  justify-content: flex-start;
  border-radius: 10px 10px 0 0;
}

h1{text-align: left;
margin-left: 10px;}

#temp{
  font-size: 70px;
  margin: 0 0 0 20px;
}

.main-block{
  display: block;
  
}
.div-blocks{
  border-bottom: 1px solid black;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.div-blocks:last-child{
  border-bottom: none;
}

/* .white-colored{
  color: white;
} */

img{
height: 70px;}